.how-to-join-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.how-to-join-inner {
  position: relative;
  width: 100%;
}

.how-to-join-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.how-to-join-heading-wrapper {
  margin-top: 26px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 74px;
  justify-content: space-between;
}

.participant-card {
  width: 100%;
  height: 471px;
  position: relative;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 471px;
}

.card-title {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.50px;
  line-height: normal;
  padding-left: 2.5rem;
}

.card-description {
  position: absolute;
  top: 142px;
  left: 2.5rem;
  right: 2.5rem;
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: 0.50px;
  line-height: 1.75rem;
}

.card-button {
  height: 60px !important;
  display: flex !important;
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 359px !important;
  top: 366px !important;
}

.card-button-text {
  margin-right: -4px !important;
  margin-top: -2.5px !important;
  font-size: 28px !important;
  margin-bottom: -0.5px !important;
  font-family: 'Roboto', Helvetica !important;
}

@media (min-width: 768px) {
  .participant-card {
    width: 48%;
  }

  .cards-container {
    flex-direction: row;
  }
}